streamlit==1.45.1
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
opencv-python-headless==4.9.0.80
scikit-learn==1.4.2
joblib==1.4.2
xgboost==2.0.3
tensorflow==2.16.1
keras==3.3.3
h5py==3.11.0
protobuf==4.25.3